/* Sidebar styles */
.SIDEBAR_STYLE {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 20px;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

.SIDEBAR_STYLE .nav-link {
    color: #ccc; /* Color gris claro para los enlaces */
}

.SIDEBAR_STYLE .nav-link.active {
    background-color: #fff; /* Fondo blanco para el enlace activo */
    color: #000; /* Texto negro */
}

/* Content styles */
.CONTENT_STYLE {
    margin-left: 300px; /* Para evitar que el contenido se sobreponga al sidebar */
    padding: 20px;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

/* Títulos y párrafos */
h1, h2, h3, h4, h5, h6, p, .lead {
    color: #fff;
}

/* Imagen central en la página de bienvenida */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
